In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data/images.csv')

In [4]:
data.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [8]:
counts = data.articleType.value_counts()

In [35]:
res.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [36]:
len(res)

42273

In [14]:
counts.index

Index(['Tshirts', 'Shirts', 'Casual Shoes', 'Watches', 'Sports Shoes',
       'Kurtas', 'Tops', 'Handbags', 'Heels', 'Sunglasses',
       ...
       'Ties and Cufflinks', 'Key chain', 'Face Serum and Gel',
       'Mens Grooming Kit', 'Suits', 'Cushion Covers', 'Hair Accessory',
       'Body Wash and Scrub', 'Ipad', 'Shoe Laces'],
      dtype='object', length=143)

In [20]:
counts[counts > 100].index

Index(['Tshirts', 'Shirts', 'Casual Shoes', 'Watches', 'Sports Shoes',
       'Kurtas', 'Tops', 'Handbags', 'Heels', 'Sunglasses', 'Wallets',
       'Flip Flops', 'Sandals', 'Briefs', 'Belts', 'Backpacks', 'Socks',
       'Formal Shoes', 'Perfume and Body Mist', 'Jeans', 'Shorts', 'Trousers',
       'Flats', 'Bra', 'Dresses', 'Sarees', 'Earrings', 'Deodorant',
       'Nail Polish', 'Lipstick', 'Track Pants', 'Clutches', 'Sweatshirts',
       'Caps', 'Sweaters', 'Ties', 'Jackets', 'Innerwear Vests', 'Kurtis',
       'Tunics', 'Nightdress', 'Leggings', 'Pendant', 'Capris',
       'Necklace and Chains', 'Lip Gloss', 'Night suits', 'Trunk', 'Skirts',
       'Scarves', 'Ring', 'Dupatta', 'Accessory Gift Set', 'Cufflinks',
       'Kajal and Eyeliner'],
      dtype='object')

In [23]:
replace_map = {
    'Tshirts': 'tshirt',
    'Shirts': 'shirt',
    'Casual Shoes': 'shoes',
    'Watches': 'watch',
    'Sports Shoes': 'shoe',
    'Kurtas': 'shirt',
    'Tops': 'top',
    'Handbags': 'handbag',
    'Heels': 'shoes',
    'Sunglasses': 'sunglass',
    'Wallets': 'wallet',
    'Flip Flops': 'shoe',
    'Sandals': 'sandal',
    'Briefs': 'briefs',
    'Belts': 'belt',
    'Backpacks': 'backpack',
    'Socks': 'socks',
    'Formal Shoes': 'shoe',
    'Perfume and Body Mist': 'perfume',
    'Jeans': 'jean',
    'Shorts': 'shorts',
    'Trousers': 'trouser',
    'Flats': 'shoe',
    'Bra': 'bra',
    'Dresses': 'dress',
    'Sarees': 'saree',
    'Earrings': 'earring',
    'Deodorant': 'perfume',
    'Nail Polish': 'nail polish',
    'Lipstick': 'lipstick',
    'Track Pants': 'pant',
    'Clutches': 'purse',
    'Sweatshirts': 'sweatshirt',
    'Caps': 'cap',
    'Sweaters': 'sweater',
    'Ties': 'tie',
    'Jackets': 'jacket',
    'Innerwear Vests': 'vest',
    'Kurtis': 'shirt',
    'Tunics': 'tunic',
    'Nightdress': 'nightdress',
    'Leggings': 'legging',
    'Pendant': 'pendant',
    'Capris': 'capri',
    'Necklace and Chains': 'necklace',
    'Lip Gloss': 'lipstick',
    'Night suits': 'dress',
    'Trunk': 'trunks',
    'Skirts': 'skirt',
    'Scarves': 'scarf',
    'Ring': 'ring',
    'Dupatta': 'scarf',
    'Accessory Gift Set': 'gift',
    'Cufflinks': 'cufflink',
    'Kajal and Eyeliner': 'eyeliner'
}

In [24]:
categories = set(replace_map.values())

In [30]:
def find_category(candidates):
    category_1, score_1 = match_score(candidates[0])
    category_2, score_2 = match_score(candidates[1])
    
    return category_1 if score_1 < score_2 else category_2

In [32]:
def match_score(synonym_set):
    for i, words in enumerate(synonym_set):
        for word in words:
            if word in categories:
                return word, i
            
    return '', 99999

In [33]:
find_category([
    [
        ["buckle"], ["fastener", "fastening", "holdfast", "fixing"], ["restraint", "constraint"], ["device"], 
        ["instrumentality", "instrumentation"], ["artifact", "artefact"], ["whole", "unit"],["object", "physical object"],
        ["physical entity"], ["entity"]
    ],
    [
        [
            "digital watch"
        ],
        [
            "watch",
            "ticker"
        ],
        [
            "timepiece",
            "timekeeper",
            "horologe"
        ],
        [
            "measuring instrument",
            "measuring system",
            "measuring device"
        ],
        [
            "instrument"
        ],
        [
            "device"
        ],
        [
            "instrumentality",
            "instrumentation"
        ],
        [
            "artifact",
            "artefact"
        ],
        [
            "whole",
            "unit"
        ],
        [
            "object",
            "physical object"
        ],
        [
            "physical entity"
        ],
        [
            "entity"
        ]
    ],
])

'watch'